*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #111;
  background-position: center center;
  background-size: cover;
  color: #fff;
  font-family: "Saira", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.layout {
  display: grid;
  grid-template-areas: "aside content info" "aside content valet" "aside content legends";
  grid-template-columns: auto 60% auto;
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 50px;
  padding: 50px;
}

.content {
  grid-area: content;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(6, 1fr);
}

.list {
  grid-area: auto/1/auto/5;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: -50px;
}
.list ul {
  display: block;
  padding: 35px 50px;
  margin: 0;
  width: 100%;
  max-height: 100%;
  list-style: none;
  overflow-x: auto;
}
.list li {
  display: block;
  padding: 0;
  margin: 15px 0;
}
.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 100%;
  text-decoration: none;
  color: #fff;
  border-left: 5px solid;
}
.list__item.type-simple {
  border-color: silver;
  background: linear-gradient(90deg, #8d8d8d 0%, rgba(141, 141, 141, 0) 100%);
}
.list__item.type-simple-ssl {
  border-color: turquoise;
  background: linear-gradient(90deg, #1aa093 0%, rgba(26, 160, 147, 0) 100%);
}
.list__item.type-isolated, .list__item.type-isolated-ssl {
  border-color: orangered;
  background: linear-gradient(90deg, #992900 0%, rgba(153, 41, 0, 0) 100%);
}
.list__item.type-proxy, .list__item.type-proxy-ssl {
  border-color: gold;
  background: linear-gradient(90deg, #998100 0%, rgba(153, 129, 0, 0) 100%);
}
.list__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5;
}
.list__name small {
  display: block;
  font-size: 12px;
  opacity: 0.7;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list__tags {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 14px;
}
.list__tags span {
  margin-left: 10px;
}
.list__tags svg {
  width: 14px;
  height: 14px;
}
.list__tags svg path {
  fill: #fff;
}

.list__item {
  transform: scale(1);
  transition: all 0.5s linear;
}
.list__item:hover {
  transform: scale(1.07);
  transition: all 0.1s linear;
}

.list li {
  -webkit-animation-delay: calc(var(--order) * 100ms);
          animation-delay: calc(var(--order) * 100ms);
  -webkit-animation-name: listing;
          animation-name: listing;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes listing {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes listing {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.menu {
  grid-area: auto/5/auto/7;
  align-self: center;
}
.menu ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu li {
  display: block;
  margin: 0;
  padding: 0;
}
.menu a {
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
}
.menu a.active, .menu a:hover {
  color: turquoise;
}

.aside {
  grid-area: aside;
  align-self: flex-end;
  text-align: right;
  line-height: 1;
}
.aside__total {
  font-size: 60px;
  font-weight: bold;
}
.aside__groups {
  font-size: 40px;
  font-weight: bold;
}

.valet {
  grid-area: valet;
  align-self: center;
}
.valet h1 {
  font-size: 72px;
  line-height: 1;
  text-align: right;
  text-transform: uppercase;
}
.valet h1 small {
  display: block;
  font-size: 35px;
  font-weight: 400;
  opacity: 0.5;
}

.legends {
  grid-area: legends;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.legends ul {
  display: block;
  padding: 0;
  margin: 15px 0;
  list-style: none;
}
.legends li {
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
}
.legends__chart {
  display: flex;
  width: 100%;
  margin-top: 5px;
}
.legends__chart > div {
  margin-left: 5px;
  height: 3px;
}
.legends__chart .simple {
  background: linear-gradient(to left, silver 0%, rgba(192, 192, 192, 0) 100%);
}
.legends__chart .isolated {
  background: orangered;
}
.legends__chart .proxy {
  background: gold;
}
.legends__chart .ssl {
  background: turquoise;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}
.info__tool {
  width: 90px;
  padding: 10px;
  margin: -1px 0;
  line-height: 1;
  text-align: right;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(to left, turquoise 0%, rgba(64, 224, 208, 0) 90%);
     border-image: linear-gradient(to left, turquoise 0%, rgba(64, 224, 208, 0) 90%);
  border-image-slice: 1;
  color: #fff;
  text-decoration: none;
}
.info__name {
  font-size: 14px;
}
.info__version {
  font-size: 20px;
}

.logs {
  grid-area: auto/1/auto/6;
}
.logs li {
  height: auto;
}
.logs pre {
  padding: 10px 20px;
  font-size: 11px;
  white-space: pre-wrap;
}
.logs .list__item:hover {
  transform: scale(1.04);
}
.logs .list__item.is-other {
  border-color: silver;
  background: linear-gradient(90deg, #8d8d8d 0%, rgba(141, 141, 141, 0) 100%);
}
.logs .list__item.is-error {
  border-color: orangered;
  background: linear-gradient(90deg, #992900 0%, rgba(153, 41, 0, 0) 100%);
}
.logs .list__item.is-notice {
  border-color: deepskyblue;
  background: linear-gradient(90deg, #007399 0%, rgba(0, 115, 153, 0) 100%);
}
.logs .list__item.is-warning {
  border-color: gold;
  background: linear-gradient(90deg, #998100 0%, rgba(153, 129, 0, 0) 100%);
}

.help {
  grid-area: auto/1/auto/6;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: -50px 0;
}
.help__list {
  width: 100%;
  max-height: 100%;
  overflow-x: auto;
}
.help article {
  padding: 10px 20px;
  margin: 7px 0;
  font-size: 13px;
  border-left: 5px solid;
  border-color: silver;
  background: linear-gradient(90deg, #333 0%, rgba(51, 51, 51, 0) 100%);
}
.help article h1 {
  margin-top: 0;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.help article ul {
  padding-left: 20px;
}
.help article dt {
  font-weight: 600;
}
.help article table {
  width: 100%;
  border: 0;
  border-spacing: 0;
}
.help article th {
  text-align: left;
}