// General

$gap: 50px;

// Fonts

$font-saira: 'Saira', Helvetica, Arial, sans-serif;

// Site colors

$site-simple: silver; 
$site-ssl: turquoise; 
$site-isolated: orangered; 
$site-proxy: gold; 

// UI colors

$ui-background: #111;
$ui-text: #fff;
$ui-color: turquoise;